# ===Virtual envrionments===
.venv/
.venv*/
venv/
venv*/
ENV/
.venv312/

# ===Caches and builds===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.ipynb_checkpoints/

# ===IDE and OS===
.vscode/
.DS_Store
Thumbs.db
